@import url('https://fonts.googleapis.com/css?family=Comfortaa|Sanchez');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2E2C2F;
  font-family: Comfortaa, sans-serif;
}

h1 {
  font-family: "Sanchez", sans-serif;
  color: white;
  background: #729B79;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}

#rgb-target {
  font-size: 1.5em;
  text-transform: uppercase;
}

.nav-bar {
  background: white;
  height: 30px;
  text-align: center;
}

button {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  color: #729B79;
  font-weight: bold;
  height: 100%;
  margin: 0;
  padding: 0 6px;
}

button.selected, button:hover {
  color: white;
  background: #729B79;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.text-display {
  display: inline-block;
  width: 120px;
}

div.grid {
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

div.cell {
  width: 90%;
  padding-bottom: 90%;
  margin: 5% auto;
  background: #729B79;
  border-radius: 20px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}
